:root{
    --color-link: #6f747c;
    --background-color-nav:#f0f4ff;
    --sombras:  -2px 10px 22px -6px rgba(112,108,112,1);
    -moz-box-shadow: -2px 10px 22px -6px rgba(112,108,112,1);
    box-shadow: -2px 10px 22px -6px rgba(112,108,112,1)
}